.user-list {
  width: 90%;
  margin: 0 auto; }
  .user-list .table-list {
    font-size: 12px; }
    .user-list .table-list .image-list {
      white-space: nowrap;
      position: relative; }
      .user-list .table-list .image-list .hover-image {
        position: absolute;
        left: 100%;
        max-width: 200px;
        top: 0;
        max-height: 200px; }
      .user-list .table-list .image-list .image-item {
        margin: 0 5px; }
      .user-list .table-list .image-list a {
        font-size: 12px; }
  .user-list .operator-wrap {
    float: left; }
    .user-list .operator-wrap .reject-btn {
      margin-left: 60px; }
  .user-list .download-btn {
    position: absolute;
    left: 40%; }
  .user-list .page-wrap {
    float: right; }
    .user-list .page-wrap .page-item {
      color: #148fb9;
      padding: 0 5px;
      cursor: pointer;
      display: inline-block; }
    .user-list .page-wrap .prev-btn {
      color: #428bca;
      cursor: pointer; }
    .user-list .page-wrap .next-btn {
      color: #428bca;
      cursor: pointer; }
  .user-list .form-wrap {
    margin-top: 100px; }
    .user-list .form-wrap .btn {
      margin-top: 20px; }

/*# sourceMappingURL=admin.css.map */
