.user-list {
    width: 90%;
    margin: 0 auto;

    .table-list {
        font-size: 12px;

        .image-list {
            white-space: nowrap;
            position: relative;

            .hover-image {
                position: absolute;
                left: 100%;
                max-width: 200px;
                top: 0;
                max-height: 200px;
            }

            .image-item {
                margin: 0 5px;
            }

            a {
                font-size: 12px;
            }
        }
    }

    .operator-wrap {
        float: left;

        .reject-btn {
            margin-left: 60px;
        }
    }

    .download-btn {
        position: absolute;
        left: 40%;
    }

    .page-wrap {
        float: right;

        .page-item {
            color: #148fb9;
            padding: 0 5px;
            cursor: pointer;
            display: inline-block;
        }
        .prev-btn {
            color: #428bca;
            cursor: pointer;
        }

        .next-btn {
            color: #428bca;
            cursor: pointer;
        }
    }

    .form-wrap {
        margin-top: 100px;

        .btn {
            margin-top: 20px;
        }
    }
}