@mixin position{
    position: absolute;
    z-index: 2;
}
.bg{
    top:0;
    width:100%;
    position:fixed;
    bottom:0;
    left: 0;
    z-index: -1;
    .body-img{
        width: 100%;
        height: 100%;
    }
}

.sign-up_btn{
    @include position;
    width:60%;
    top:82%;
    left: 20%;
}

.share_btn{
    @include position;
    width: 26%;
    top:3%;
    right: 5%;
}
.rules_btn{
    @include position;
    width:25%;
    top:3%;
    left: 5%;
}
.logo{
    @include position;
    width: 80%;
    left: 10%;
    top: 10%;
}
.girl{
    @include position;
    z-index: 1;
    width: 80%;
    top:33%;
    left: 10%;
}

.explain{

    @include position;
    right: 0;
    color: red;
    top: 87%;
    width: 100%;
    margin-top: 30px;
    p{text-align:center;
        margin-top: 0px}
}

.success_class_a{
    @include position;
    width: 80%;
    left: 10%;
    top: 62%;
    opacity: 0.9;
    display:none;
}
.success_class_b{
    @include position;
    width: 80%;
    left: 10%;
    top: 62%;
    opacity: 0.9;
    display:block;
}


.z_none{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
    background-color: #888;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow:hidden; word-break:break-all;
}
.z-block{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:33;
    background-color: #888;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow:hidden; word-break:break-all;
}

.rules_block{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 34;
    display:none;

    .rules_none {
        width: 80%;
        position: relative;
        margin: 60px auto 20px;
        background: #fff;
        padding: 20px;
        border-radius: 18px;

        .title {
            text-align: center;
            display: block;
            margin: 0 0 10px;
            font-size: 20px;
        }

        .close-btn {
            position: absolute;
            right: 0;
            top: -36px;
            width: 32px;
            z-index: 10;
        }

        .rule {
            font-size: 14px;
            height: 500px;
            overflow-y: scroll;
        }
    }
}

.state{
    opacity: 0.9;
    border-radius: 10px;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left:10%;
    width: 80%;
    background-color:#ffcf61;
    z-index: 5;

    p{
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        color:#391349;
    }
}
.logo{
    width: 28%;
    position: absolute;
    top: 2%;
    left: 36%;
}