#app{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;

    .process-wrap {
        height: 8px;
        margin: 10px 4%;
        background: #ddd;
        border-radius: 4px;
        display: none;

        .process-bar {
            height: 100%;
            border-radius: 4px;
            width: 0;
            background: #FF4E00;
        }
    }
}

.welcome{
    text-align: center;
    margin-top:8%;
}
@mixin wi{
    width:29%;
    margin-left: 5%;
    position: absolute;
}

.person{
    width: 92%;
    position: relative;
    margin-left: 4%;
    margin-top:4%;
    .person_left{
        width: 62%;
    }
    .person_b{
        display: inline-block;
        float: right;
        @include wi;

    }
    .person_c{
        display: inline-block;
        float: right;
        @include wi;
        top:52%
    }
}

.person2{
    width: 92%;
    text-align: center;
}
.person_d{
    display: inline-block;
    float: left;
    width:29%;
    margin-left:4%;
    margin-top: 3%;
}
.person_e{

    width:29%;
    margin-left:2%;
    margin-top: 3%;
}
.person_f{
    display: inline-block;
    float: right;
    width:29%;
    margin-left:2%;
    margin-top: 3%;
}
.clearfloat{clear: both}
.tips{text-align: center;
    margin-top: 4%;
    color:#ff4e00;
    margin-bottom: 4%;
    img{width:5%}
    span{line-height: 10px;
    }
}

.state{
    opacity: 0.9;
    border-radius: 10px;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left:10%;
    width: 80%;
    background-color:#ffcf61;
    z-index: 5;
    height:100px;
    p{
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        color:#391349;
    }
}

.form{
    label{
        position: relative;
        margin-left: 4%;
        line-height: 24px;
        i{
            display:block;
            background:#f00;
            border-radius:50%;
            width:5px;
            height:5px;
            top:0;
            right:0;
            position:absolute;
        }
        select{
            height:20px;
        }
        .input:focus{
            outline:none;
            border: 1px solid white;
            -webkit-tap-highlight-color:rgba(255,0,0,0);
        }
        .input{
            -webkit-tap-highlight-color:rgba(255,0,0,0);
            background-color:transparent;
            -moz-appearance:none;
            -webkit-appearance:none;
            outline:none;
            margin-left: 4%;
            border:0;
            width:53%;
            float: right;
            line-height: 24px;
        }
    }
}
.line{
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.warm_alert{
    color: red;
    text-align: center;
    position: fixed;
    top: 38%;
    display:none;
    width:96%;
    left: 2%;
    height:100px;
    background-color: #cccccc;
    opacity: 0.9;
    border-radius: 10px;
    z-index: 6;
    .close{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
    }
}


.warm_alert_b{
    color: red;

    text-align: center;
    opacity: 0.9;
    position: fixed;
    top: 38%;
    display: block;
    width:96%;
    left: 2%;
    height:100px;
    background-color: #cccccc;
    border-radius: 10px;
    z-index: 6;
    .close{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
    }
}
.alert{
    z-index: 4;
    display: none;
    left: 2%;
    position: fixed;
    top: 38%;
    background-color: white;
    border-radius: 8px;
    .text{
        padding-top: 4px;
        padding-bottom: 2px;
    }
    .line{margin-top: 5px;
        margin-bottom: 5px}
    text-align: center;
    width: 96%;
    .cancel{
        margin-left: 3%;
        display: inline-block;
        float: left;
        color:dodgerblue;
    }
    .title{
    }
    .done{
        margin-right: 3%;
        display: inline-block;
        float: right;
        color: dodgerblue;
    }
    .textarea{
        textarea{
            -webkit-tap-highlight-color:rgba(255,0,0,0);
            resize:none;
            display:inline-block;
            width: 100%;
            position: relative;
            border:0;
            outline:none;
        }
        display: inline-block;
        width: 94%;
    }
}
.alert_b{
    z-index: 4;
    display: block;
    left: 2%;
    position: fixed;
    top: 38%;
    background-color: white;
    border-radius: 8px;
    .text{
        padding-top: 4px;
        padding-bottom: 2px;
    }
    .line{margin-top: 5px;
        margin-bottom: 5px}
    text-align: center;
    width: 96%;
    .cancel{
        display: inline-block;
        float: left;
        margin-left: 3%;
        color:dodgerblue;
    }
    .title{
    }
    .done{
        margin-right: 3%;
        display: inline-block;
        float: right;
        color: dodgerblue;
    }
    .textarea{
        textarea{
            -webkit-tap-highlight-color:rgba(255,0,0,0);
            resize:none;
            display:inline-block;
            width: 100%;
            position: relative;
            border:0;
            outline:none;
        }
        display: inline-block;
        width: 94%;
    }
}



.class_b{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
    background-color: #888;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow:hidden; word-break:break-all;
}


.z{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
    background-color: #888;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow:hidden; word-break:break-all;
}
.submit_deflaut{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #cccccc;
    img{
        display: none;
        width: 40%;
        left:30%;
        position: relative;
        margin-top: 4px;
        padding-top: 1px;
    }
}

.congra{
    .img_0{
        width:10%;
        position: absolute;
        right: 10%;
        top: 0;

    }
    display: none;
    z-index: 5;
    width:80%;
    top: 26%;
    left:10%;
    text-align: center;
    position: fixed;
    .img_1{
        width: 80%;
    }
    .img_2{
        position: relative;
        bottom:50px;
        width:45%;
    }
}

.congra_b{
    .img_0{
        width:10%;
        position: absolute;
        right: 10%;
        top: -10%;

    }
    display: block;
    z-index: 5;
    width:80%;
    top: 26%;
    left:10%;
    text-align: center;
    position: fixed;
    .img_1{
        width: 80%;
    }
    .img_2{
        position: relative;
        bottom:50px;
        width:45%;
    }
}

