<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/scss/admin.min.css?v=1" />
	</head>
	<body>
		<div class="user-list">
			<div class="search-wrap">
				<label>FullName
					<input type="text" v-model="searchdata.fullname" class="form-control" />
				</label>
				<label>facebook name
					<input type="text" v-model="searchdata.facebookname" class="form-control" />
				</label>
				<label>
					industry
					<select class="form-control" v-model="searchdata.industry">
						<option v-for="item in industrys" v-text="item" :value="item"></option>
					</select>
				</label>
				<label>
					hometown
					<select class="form-control" v-model="searchdata.hometown">
						<option v-for="item in hometowns" v-text="item" :value="item"></option>
					</select>
				</label>
				<label>
					personality
					<select class="form-control" v-model="searchdata.personality">
						<option v-for="item in personalitys" v-text="item" :value="item"></option>
					</select>
				</label>
				<label>Birthday/Age
					<input type="date" v-model="searchdata.age" class="form-control" />
				</label>
				<label>state
					<select class="form-control" v-model="searchdata.state">
						<option value=""></option>
						<option value="1">under review</option>
						<option value="2">Sign up only</option>
						<option value="3">rejected</option>
						<option value="4">passed</option>
					</select>
				</label>
				<label>entry address
					<input type="text" v-model="searchdata.platform" class="form-control" />
				</label>
			</div>
			<table  class="table table-bordered table-list">
				<thead>
					<th></th>
					<th>
						createTime
					</th>
					<th>
						imAGE
					</th>
					<th style="width: 300px;">
						about me
					</th>
					<th>
						full name
					</th>
                    <th>
                        facebook name
                    </th>
					<th>
						email
					</th>
					<th>
						phone number
					</th>
					<th>
						age
					</th>
					<th>
						constellation
					</th>
					<th>
						industry
					</th>
					<th>
						hometown
					</th>
					<th>
						personlity
					</th>
					<th>
						operator
					</th>
					<th>
						state
					</th>
                    <th>
                        entry address
                    </th>
				</thead>
				<tbody>
					<tr v-for="(item, index) in userList" :style="item.hidden == 1 ? 'display:none': ''">
						<td><input type="checkbox" @click="changeLineId(item.uid)" /></td>
						<td v-text="item.ctime"></td>
						<td class="image-list">
							<img :src="hoverImagePath" v-show="hoverFlag == index && hoverFlag >= 0" class="hover-image" />
							{literal}
							<a target="_blank" class="image-item" v-show="item.image[imgIndex].indexOf('add_img') == -1" v-for="(img, imgIndex) in item.image" @mouseleave="hoverFlag = -1" @mouseover="hoverImagePath = item.image[imgIndex];hoverFlag = index" :href="item.image[imgIndex]" >{{imgIndex}}</a>
							{/literal}
						</td>
						<td v-text="item.about" style="width: 300px;" :title="item.about"></td>
						<td v-text="item.name"></td>
						<td v-text="item.nickname"></td>
						<td v-text="item.email"></td>
						<td v-text="item.phone"></td>
						<td v-text="item.birthday"></td>
						<td v-text="item.constellation"></td>
						<td v-text="item.industry"></td>
						<td v-text="item.hometown"></td>
						<td v-text="item.personlity"></td>
						<td>
							<span @click="changeState(4, item, index)" class="btn btn-success btn-sm">Pass</span>
							<span @click="changeState(3, item, index)" class="btn btn-danger btn-sm">Reject</span>
						</td>
						<td>
							<span class="label label-warning" v-if="item.status == 1">under review</span>
							<span class="label label-default" v-if="item.status == 2">Sign up Only</span>
							<span class="label label-danger" v-if="item.status == 3">Reject</span>
							<span class="label label-success" v-if="item.status == 4">Passed</span>
						</td>
                        <td v-text='item.platform'></td>
					</tr>
				</tbody>
			</table>
			<div class="operator-wrap">
				<span class="btn btn-primary" @click="batchSubmit(4)">PASS</span>
				<span class="btn btn-danger reject-btn" @click="batchSubmit(3)">Reject</span>
				<span class="btn btn-info reject-btn" id="upload">Upload</span>

			</div>
			<a :href="'/index.php?c=index&f=download&state=' + searchdata.state" target="_blank" class="btn btn-warning download-btn">Download</a>
			<div class="page-wrap">
				{literal}
				<span>Current Page <strong>{{searchdata.page}}</strong></span>
				<span>Total Data <strong>{{pageData.total}}</strong> </span>
				<span class="prev-btn" @click="searchdata.page -= 1" v-show="searchdata.page > 1">Prev</span>
				<a href="javascript:void(0)" class="page-item" v-for="pageNumber in pageList" v-text="pageNumber" @click="searchdata.page = pageNumber"></a>
				<span class="next-btn" @click="searchdata.page += 1" v-show="searchdata.page < pageData.totalPage">Next</span>
				<span>Total Page <strong>{{pageData.totalPage}}</strong> </span>
				{/literal}
			</div>
			<div class="form-wrap">
				<label>Check Profile Link(start with http://, default empty 网址的话需要http开头，默认为空，会跳转到第二页，如果设置了就会跳转到设置的这个网址，配合活动)</label>
				<input class="form-control" placeholder="check profile link" v-model="newUrl">
				<span class="btn btn-info" @click="submitUrl">submit</span>
			</div>

		</div>
		</div>
		<script type="text/javascript" src="/src/js/plupload/plupload.min.js"></script>
		<script type="text/javascript" src="/src/js/vue.dev.js"></script>
		<script type="text/javascript" src="/src/js/vue-resource.js"></script>
		<script type="text/javascript" src="/src/js/admin.js?v=6"></script>
	</body>
</html>