<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>T20 2018 · UC Miss Cricket</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no">
    <!--<link rel="stylesheet" href="/src/css/scss/result.css" />-->
    <link rel="stylesheet" href="/assets/css/scss/result.min.css" />
</head>
<body>
<div id="app">
    <div class="welcome"><b>Welcome, <span>{$nickname}</span></b></div>
    {literal}
    <div class="process-wrap" :style="uploadingFlag == 1 ? 'display:block':''">
        <div class="process-bar" :style="{width: uploadPercent + '%'}"></div>
    </div>
    {/literal}
    <div class="person">
        <img class="person_left" :src="img_1" alt=""  id="person1"  name="img_1" >
        <img class="person_b" :src="img_2" alt=""  name="img_2" id="person2" >
        <img class="person_c" :src="img_3" alt=""   name="img_3"  id="person3">
    </div>
    <div class="person2">
       <img class="person_d" :src="img_4" alt=""   name="img_4" id="person4">
         <img class="person_e" :src="img_5" alt=""    name="img_5" id="person5">
         <img class="person_f" :src="img_6" alt=""  name="img_6" id="person6">
        <div class="clearfloat"></div>
    </div>

    <div class="state" id="" :style="isStateShow == 1 ? 'display:block': ''" >
        <p id="state_tip"></p>
    </div>
    <div class="tips" v-show="img_1 == '/src/images/add_img_1.png' && img_2 == '/src/images/add_img_2.png'">
         <img class="warm" src="/src/images/warm.png" alt="" >&nbsp;<span v-html="warm"></span>
    </div>
    <div>
       <form action="" class="form" >
              <label @click="aboutme_alert_f">About Me&nbsp;<i></i>
                  <input type="text"  class="input about_me" placeholder="Write a short description" v-model="about_me"
                          @click="alert_f" name="Abuout Me" id="about_me_id"></label><br>
                 <div class="line"></div>
              <label @click="fullname_alert_f">Full Name &nbsp;<i></i>
                  <input type="text" class="input" placeholder="Add your name"  @click="alert_f"  name="Full Name"  v-model="full_name" id="full_name_id" >
              </label>
                  <div class="line"></div>
              <label  @click="email_f">Email &nbsp;<i ></i><input class="input" placeholder="Add your email "   @click="alert_f"  name="Email"  v-model="email" id="email_id">  </label>
                <div class="line"></div>
              <label  @click="phone_number_f">Phone Number &nbsp;<i ></i><input class="input" placeholder="Add your number"  @click="alert_f"  name="Phone Number"  v-model="phone_number" id="phone_number_id"></label>
                  <div class="line"></div>
              <label @click="birthdate_alert_f">Birthdate &nbsp; <i></i>
                  <input class="input"  type="date" placeholder="Add your Birthdate" style="text-align: left"  v-model="birthdate"   id="birthdate_id">
              </label>
                  <div class="line"></div>
              <label @click="industry_f">Industry &nbsp;<i ></i>
                   <select class="input"  v-model="industryModel"  @change="industryModel_f($event)" id="industry_id" placehold="Add your industry">
                       <option  v-for="industry in industrys" v-text="industry"  id="industry2_id"  :value="industry"> </option>
                   </select>
              </label>
                  <div class="line"></div>
              <label @click="hometown_f">Hometown
                  <select class="input"     id="hometown_id" v-model="hometown"  @change="hometownModel_f($event)">
                       <option  v-for="hometown in hometowns" v-text="hometown" :value="hometown"></option>
                   </select>
              </label>
                  <div class="line"></div>
              <label>Personality
                  <select class="input" id="personality_id"  @change="personalityModel_f($event)" v-model="personality">
                       <option  v-for="personality in personalitys"   v-text="personality" :value="personality"></option>
                   </select>
              </label>
           <div class="line"></div>
           <label>Constellation
                  <select class="input" id="constellation_id" onclick="gtag('event', 'click', 'constellation');"  v-model="conste" >
                       <option  v-for="conste in consts"  v-text="conste"  :value="conste"></option>
                   </select>
              </label>
             <div class="" style="width: 100%;height: 55px"></div>
       </form>
    </div>
    <div class="submit_deflaut">
        <img src="/src/images/vote.png" alt="" :style="applyState == 1 || applyState == 4 ? 'display:block': ''" class="img_2"  @click="voteFunc">
        <img class="" :src="submit_src" alt="" :style="applyState == 2 || applyState == 3 ? 'display:block': ''"  @click="summit_f" id="submit_img">
    </div>
    <div class="congra" :class="congra_style">
         <img src="/src/images/close02.png" alt=" " class="img_0" @click="congra_f">
         <img src="/src/images/congra.png" alt=" " class="img_1">
        <img src="/src/images/follow.png" alt=" " class="img_2"  onclick="gtag('event', 'click', { event_category: 'result',event_label: 'share'});window.location.href='https://www.facebook.com/groups/604782783195183/'">
    </div>

   <!--弹窗层和遮罩层-->
    <div class="alert " :class="alert_styles" >
        <div class="text">
            <span class="cancel" @click="cancel_f">Cancel</span>
            <span class="title" v-text="title" ></span>
            <span class="done" @click="done_f">Done</span>
        </div>
        <div class="line"></div>
        <div class="textarea" id="on_input">
            <form action="">
               <label><textarea  rows="6"  v-model="text_change" autofocus>  </textarea></label>
            </form>
        </div>
    </div>

    <!--输入信息有错误提示-->
    <div  :class="warm_alert_style">
        <span v-text="warm_alert_text"></span>
        <div class="close" @click="warm_alert_f"><span>Close</span></div>
    </div>

<div  :class="z_styles" @click="z_f"></div>


</div>
<script type="text/javascript" src="/src/js/plupload/plupload.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92633598-19"></script>
<script type="text/javascript" src="/src/js/vue.dev.js"></script>
<script src="/src/js/zepto.js"></script>
<script type="text/javascript" src="/src/js/vue-resource.js"></script>
<script type="text/javascript" src="/src/js/public.js?v=5"></script>
<script type="text/javascript" src="/src/js/result.js?v=8"></script>

<!--<script src="//connect.facebook.NET/en_US/all.js"></script>-->

<script>
</script>
</body>
</html>